<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./templates/head.ejs')  %>
</head>

<body>
    <%- include('./templates/nav.ejs') %>
        <div class="container">
            <h2>Lista de productos con EJS</h2>
            <% if(validate) { %>
                <h3 class="p-3">No se encontraron productos :(</h3>
                <% }  %>
                    <% data.forEach(function(pr) {    %>
                        <div className="border mx-1 my-3">
                            <div className="row pt-2">
                                <div className="col-1 text-center">
                                    <img src="<%= pr.thumb %>" alt="foto del prod " className="ml-0 " height="60px " />
                                </div>
                                <div className="col-6 offset-1 ">
                                    <h4>
                                        <%= pr.nombre   %>
                                    </h4>
                                </div>
                                <div className="col-2 offset-sm-1 text-center ">
                                    <p>
                                        <%= pr.precio   %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <%  } )   %>
                            <a class="btn btn-warning " role="button " href="/ ">Volver al inicio</a>
        </div>

</body>

</html>